@import "tailwindcss";
@source "../views";

@theme {
    /* grayish-green / off-white */
    --color-seasalt: #F5F8F6ff;

    /* light gray-blue */
    --color-primary: #EFF2F5ff;

    /* pastel pink */
    --color-secondary: #FAAECDff;

    /* bright sky blue */
    --color-tertiary: #5CC8F3ff;

    /* place icy blue with a hint of gray*/
    --color-light-tertiary: #E3EFF6ff;
}

.cherry-swash {
    font-family: 'Cherry Swash', sans-serif;
    font-weight: 400;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.heading-400 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
}

.heading-500 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
}

.heading-600 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
}

.heading-700 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
}

.body-300 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.body-400 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.body-500 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.body-600 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
